Nivel Bateria/Flow_bateria NODE RED.json
[{"id":"23468b5c3ad7b90f","type":"tab","label":"Fluxo 5","disabled":false,"info":"","env":[]},{"id":"fa65936be7aa86a2","type":"mqtt in","z":"23468b5c3ad7b90f","name":"","topic":"nivel_bat","qos":"0","datatype":"auto-detect","broker":"fa7923ade7c363e8","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":200,"wires":[["624de6c7e39db096","6586a6e43fc9ee4a"]]},{"id":"520b98e47e818be4","type":"postgresql","z":"23468b5c3ad7b90f","name":"","query":"INSERT INTO copos (nivel_bateria) \nVALUES ($valor);","postgreSQLConfig":"1251550e75985b59","split":false,"rowsPerMsg":1,"outputs":1,"x":630,"y":200,"wires":[["89bb9f7d3b47f90c"]]},{"id":"6586a6e43fc9ee4a","type":"change","z":"23468b5c3ad7b90f","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"queryParameters","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":200,"wires":[["149dc2ed6b263d65","520b98e47e818be4"]]},{"id":"624de6c7e39db096","type":"debug","z":"23468b5c3ad7b90f","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":320,"y":120,"wires":[]},{"id":"149dc2ed6b263d65","type":"debug","z":"23468b5c3ad7b90f","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":120,"wires":[]},{"id":"89bb9f7d3b47f90c","type":"debug","z":"23468b5c3ad7b90f","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":120,"wires":[]},{"id":"1032e873505ea0ca","type":"postgresql","z":"23468b5c3ad7b90f","name":"","query":"DELETE FROM copos WHERE nivel_bateria = '0';","postgreSQLConfig":"1251550e75985b59","split":false,"rowsPerMsg":1,"outputs":1,"x":630,"y":280,"wires":[[]]},{"id":"ee3887b6cf952502","type":"inject","z":"23468b5c3ad7b90f","name":"APAGA ZEROS","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":440,"y":280,"wires":[["1032e873505ea0ca"]]},{"id":"4806c9bfc5f21d2a","type":"postgresql","z":"23468b5c3ad7b90f","name":"","query":"DELETE FROM copos","postgreSQLConfig":"1251550e75985b59","split":false,"rowsPerMsg":1,"outputs":1,"x":630,"y":340,"wires":[[]]},{"id":"3d09110be75cc07e","type":"inject","z":"23468b5c3ad7b90f","name":"APAGA TUDO","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":450,"y":340,"wires":[["4806c9bfc5f21d2a"]]},{"id":"fa7923ade7c363e8","type":"mqtt-broker","name":"MQTT","broker":"mqtt.janks.dev.br","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"5","keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"1251550e75985b59","type":"postgreSQLConfig","name":"PostgreSQL","host":"postgresql.janks.dev.br","hostFieldType":"str","port":"5432","portFieldType":"num","database":"projeto_b","databaseFieldType":"str","ssl":"true","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"iot","userFieldType":"str","password":"pepcon-garton","passwordFieldType":"str"}]