copo_vazioo.json
[{"id":"0259223bd0063c63","type":"tab","label":"Copo Vazio","disabled":false,"info":""},{"id":"1c8743cb7087cd84","type":"inject","z":"0259223bd0063c63","d":true,"name":"Verificar copos vazios","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":180,"wires":[["b39e0d55ac647703","1442a2ba81e40299"]]},{"id":"b39e0d55ac647703","type":"postgresql","z":"0259223bd0063c63","name":"Buscar copos vazios","query":"SELECT \n    id, \n    mesa,\n    quantidade_ml, \n    atualizado_em,\n    vazio_a\nFROM copos\nWHERE quantidade_ml = 0 \n  AND status = 'em_uso';","postgreSQLConfig":"1251550e75985b59","split":false,"rowsPerMsg":1,"outputs":1,"x":420,"y":180,"wires":[["7fb1ed80f232d216","9680138ddc879381"]]},{"id":"7fb1ed80f232d216","type":"switch","z":"0259223bd0063c63","name":"Tem copos vazios?","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":180,"wires":[["aa78f7eb07a2be22","57541d063bf1c689"]]},{"id":"69238e186b78c6de","type":"template","z":"0259223bd0063c63","name":"Montar alerta","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"chatId\": \"835270785\",\n  \"type\": \"message\",\n  \"content\": \"Atenção! O copo de ID {{payload.id}} está vazio na mesa {{payload.mesa}}.\"\n}","output":"json","x":930,"y":260,"wires":[["81e7f1cadad932d7","8fec60ecc48d23e4"]]},{"id":"81e7f1cadad932d7","type":"telegram sender","z":"0259223bd0063c63","name":"Enviar para garçons","bot":"890125ee335187ca","haserroroutput":false,"outputs":1,"x":1160,"y":180,"wires":[[]]},{"id":"1442a2ba81e40299","type":"debug","z":"0259223bd0063c63","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":100,"wires":[]},{"id":"9680138ddc879381","type":"debug","z":"0259223bd0063c63","name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":100,"wires":[]},{"id":"aa78f7eb07a2be22","type":"debug","z":"0259223bd0063c63","name":"debug 16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":100,"wires":[]},{"id":"8fec60ecc48d23e4","type":"debug","z":"0259223bd0063c63","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1080,"y":100,"wires":[]},{"id":"57541d063bf1c689","type":"split","z":"0259223bd0063c63","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":770,"y":280,"wires":[["69238e186b78c6de","f93be027deb86a97"]]},{"id":"f93be027deb86a97","type":"debug","z":"0259223bd0063c63","name":"debug 18","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":180,"wires":[]},{"id":"1251550e75985b59","type":"postgreSQLConfig","name":"PostgreSQL","host":"postgresql.janks.dev.br","hostFieldType":"str","port":"5432","portFieldType":"num","database":"projeto_b","databaseFieldType":"str","ssl":"true","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"iot","userFieldType":"str","password":"pepcon-garton","passwordFieldType":"str"},{"id":"890125ee335187ca","type":"telegram bot","botname":"CopoIoTGarçom_bot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbothost":"0.0.0.0","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]