piscar_led_no_gol.json
[{"id":"579796813fa3fd3f","type":"tab","label":"Piscar led no gol","disabled":false,"info":"Escuta partidas/atualizada e aciona LEDs dos copos dos torcedores do time que marcou gol."},{"id":"72c49ec62f12756b","type":"mqtt in","z":"579796813fa3fd3f","name":"Partidas atualizadas","topic":"partidas/atualizada","qos":"2","datatype":"auto-detect","broker":"fa7923ade7c363e8","nl":false,"rap":false,"inputs":0,"x":90,"y":120,"wires":[["0ae9aa5239acd134","b3a9f2b6721217c3"]]},{"id":"b3a9f2b6721217c3","type":"function","z":"579796813fa3fd3f","name":"Detectar gol","func":"// Recupera o placar da execução anterior (garantindo que sejam números)\nconst anterior = flow.get('placar_anterior') || { gols_mandante: 0, gols_visitante: 0 };\nconst novo = msg.payload;\n\n// CONVERSÃO: Transforma as strings numéricas do JSON em Inteiros\nconst novosGolsM = parseInt(novo.gols_mandante) || 0;\nconst novosGolsV = parseInt(novo.gols_visitante) || 0;\nconst antGolsM = parseInt(anterior.gols_mandante) || 0;\nconst antGolsV = parseInt(anterior.gols_visitante) || 0;\n\nlet timeIdQueMarcou = null;\nlet nomeTimeQueMarcou = \"\";\n\n// Verifica se houve gol do mandante\nif (novosGolsM > antGolsM) {\n    timeIdQueMarcou = parseInt(novo.mandante_id); // Garante que o ID vire número puro\n    nomeTimeQueMarcou = novo.mandante_nome;\n}\n// Verifica se houve gol do visitante\nelse if (novosGolsV > antGolsV) {\n    timeIdQueMarcou = parseInt(novo.visitante_id); // Garante que o ID vire número puro\n    nomeTimeQueMarcou = novo.visitante_nome;\n}\n\n// Atualiza o estado global com os novos valores numéricos para a próxima comparação\nflow.set('placar_anterior', {\n    gols_mandante: novosGolsM,\n    gols_visitante: novosGolsV\n});\n\n// Se um gol foi detectado, prossegue com o fluxo\nif (timeIdQueMarcou) {\n    msg.params = [timeIdQueMarcou]; // Mandará o número limpo (ex: 3 ou 5)\n    msg.nomeTime = nomeTimeQueMarcou;\n    return msg;\n} else {\n    return null;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":120,"wires":[["1acfca22c7dcfaa2","fa18ce3abf205ba8"]]},{"id":"1acfca22c7dcfaa2","type":"postgresql","z":"579796813fa3fd3f","name":"Buscar copos dos torcedores","query":"SELECT co.id_copo AS device_id \nFROM clientes cl\nJOIN vinculo_copo_cliente vcc ON cl.id = vcc.id_cliente\nJOIN copos co ON vcc.id_copo = co.id\nWHERE cl.time_escolhido = $1 \n  AND vcc.ativo = true\n  AND co.status = 'em_uso';","postgreSQLConfig":"1251550e75985b59","split":false,"rowsPerMsg":0,"outputs":1,"x":640,"y":120,"wires":[["7bd1ed6899097df9","54ea3b88ed6d8449"]]},{"id":"7bd1ed6899097df9","type":"split","z":"579796813fa3fd3f","name":"Dividir lista de dispositivos","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","property":"payload","x":930,"y":120,"wires":[["c8d15354e3c31f8e","c087440c6afb3cc5"]]},{"id":"c8d15354e3c31f8e","type":"function","z":"579796813fa3fd3f","name":"Montar comando MQTT","func":"const row = msg.payload;\nconst deviceId = row.device_id;\nconst nomeTime = msg.nomeTime; // Capturamos o nome definido no passo anterior\n\nconst mqttMsg = {\n    topic: 'copoAlertas',\n    payload: ({\n        mensagem: \"Gol do \" + nomeTime,\n        target_device: deviceId\n    }),\n    qos: 1,\n    retain: false\n};\n\nreturn mqttMsg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":120,"wires":[["9c4ccd6c39931c60","6224adecc9babaa0"]]},{"id":"9c4ccd6c39931c60","type":"mqtt out","z":"579796813fa3fd3f","name":"Publicar LED (copoAlertas)","topic":"copoAlertas","qos":"1","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"fa7923ade7c363e8","x":1520,"y":80,"wires":[]},{"id":"6224adecc9babaa0","type":"debug","z":"579796813fa3fd3f","name":"Debug (comando enviado)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1400,"y":240,"wires":[]},{"id":"0ae9aa5239acd134","type":"debug","z":"579796813fa3fd3f","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":300,"y":360,"wires":[]},{"id":"fa18ce3abf205ba8","type":"debug","z":"579796813fa3fd3f","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":280,"wires":[]},{"id":"54ea3b88ed6d8449","type":"debug","z":"579796813fa3fd3f","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":280,"wires":[]},{"id":"c087440c6afb3cc5","type":"debug","z":"579796813fa3fd3f","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1140,"y":320,"wires":[]},{"id":"fa7923ade7c363e8","type":"mqtt-broker","name":"MQTT","broker":"mqtt.janks.dev.br","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"5","keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"1251550e75985b59","type":"postgreSQLConfig","name":"PostgreSQL","host":"postgresql.janks.dev.br","hostFieldType":"str","port":"5432","portFieldType":"num","database":"projeto_b","databaseFieldType":"str","ssl":"true","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"iot","userFieldType":"str","password":"pepcon-garton","passwordFieldType":"str"}]