Flows_Node_RED/Nivel Bateria/Flow_Bateria_Node_RED.json
[
    {
        "id": "8f2f4d634b2a7d9a",
        "type": "tab",
        "label": "Fluxo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "12aaee3857b1baea",
        "type": "mqtt in",
        "z": "8f2f4d634b2a7d9a",
        "name": "",
        "topic": "nivel_bat",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "fa7923ade7c363e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "592406522de07fa1",
                "f9b1f35c9cc13b0e"
            ]
        ]
    },
    {
        "id": "3bd80a716e357660",
        "type": "postgresql",
        "z": "8f2f4d634b2a7d9a",
        "name": "",
        "query": "UPDATE public.copos \nSET nivel_bateria = $valor \nWHERE id = (SELECT id FROM public.copos WHERE id_copo = $id_copo LIMIT 1);",
        "postgreSQLConfig": "1251550e75985b59",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "37bb42a57aff8205"
            ]
        ]
    },
    {
        "id": "f9b1f35c9cc13b0e",
        "type": "change",
        "z": "8f2f4d634b2a7d9a",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "queryParameters",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "3bd80a716e357660",
                "2cd0d4f8c6ee33d6"
            ]
        ]
    },
    {
        "id": "592406522de07fa1",
        "type": "debug",
        "z": "8f2f4d634b2a7d9a",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 140,
        "wires": []
    },
    {
        "id": "2cd0d4f8c6ee33d6",
        "type": "debug",
        "z": "8f2f4d634b2a7d9a",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 140,
        "wires": []
    },
    {
        "id": "37bb42a57aff8205",
        "type": "debug",
        "z": "8f2f4d634b2a7d9a",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "5ae2e8579489e1a8",
        "type": "postgresql",
        "z": "8f2f4d634b2a7d9a",
        "name": "",
        "query": "DELETE FROM copos WHERE nivel_bateria = '0';",
        "postgreSQLConfig": "1251550e75985b59",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 630,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "c5412bc826e9d26f",
        "type": "inject",
        "z": "8f2f4d634b2a7d9a",
        "name": "APAGA ZEROS",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 440,
        "y": 300,
        "wires": [
            [
                "5ae2e8579489e1a8"
            ]
        ]
    },
    {
        "id": "539f6117f3cce8cf",
        "type": "postgresql",
        "z": "8f2f4d634b2a7d9a",
        "name": "",
        "query": "DELETE FROM copos",
        "postgreSQLConfig": "1251550e75985b59",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 630,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "0c26f44c945d8956",
        "type": "inject",
        "z": "8f2f4d634b2a7d9a",
        "name": "APAGA TUDO",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 450,
        "y": 360,
        "wires": [
            [
                "539f6117f3cce8cf"
            ]
        ]
    },
    {
        "id": "fa7923ade7c363e8",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "mqtt.janks.dev.br",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1251550e75985b59",
        "type": "postgreSQLConfig",
        "name": "PostgreSQL",
        "host": "postgresql.janks.dev.br",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "projeto_b",
        "databaseFieldType": "str",
        "ssl": "true",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "iot",
        "userFieldType": "str",
        "password": "pepcon-garton",
        "passwordFieldType": "str"
    },
    {
        "id": "7984dc3b7ba6f6c1",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-postgresql": "0.15.4"
        }
    }
]