Flows_Node_RED/Telegram/bot_clientee.json
[{"id":"b92577b440e63001","type":"tab","label":"Bot cliente","disabled":false,"info":"","env":[]},{"id":"9e512ef966189078","type":"telegram receiver","z":"b92577b440e63001","name":"","bot":"5e4ba775024bf147","saveDataDir":"","filterCommands":false,"x":90,"y":420,"wires":[["affc604b92fc0a71"],["462653b8bbcaa2a1"]]},{"id":"affc604b92fc0a71","type":"switch","z":"b92577b440e63001","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/start","vt":"str"},{"t":"neq","v":"/start","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":420,"wires":[["61f78af0813a94ca","b22a69bfd1808e73"],["eaf81e9f81506b3f","4feadf3411bfb7cf"]]},{"id":"61f78af0813a94ca","type":"postgresql","z":"b92577b440e63001","name":"Buscar Jogo Ativo","query":"SELECT \n    p.id,\n    t1.id_time AS id_mandante, t1.nome AS nome_mandante, \n    t2.id_time AS id_visitante, t2.nome AS nome_visitante\nFROM partidas p\nJOIN times t1 ON p.mandante = t1.id_time\nJOIN times t2 ON p.visitante = t2.id_time\nWHERE p.status = 'em_andamento' \nORDER BY p.data DESC \nLIMIT 1;","postgreSQLConfig":"1251550e75985b59","split":false,"rowsPerMsg":1,"outputs":1,"x":530,"y":380,"wires":[["80758cb838d4341c","2e6d95b086cdc1ae"]]},{"id":"2e6d95b086cdc1ae","type":"template","z":"b92577b440e63001","name":"Montar Pergunta","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"chatId\": \"{{originalMessage.chat.id}}\",\n  \"type\": \"message\",\n  \"content\": \"O jogo em andamento é {{payload.0.nome_mandante}} x {{payload.0.nome_visitante}}! Para qual time você está torcendo?\",\n  \"options\": {\n    \"reply_markup\": {\n      \"keyboard\": [\n        [\n          { \"text\": \"{{payload.0.nome_mandante}}\" },\n          { \"text\": \"{{payload.0.nome_visitante}}\" }\n        ]\n      ],\n      \"resize_keyboard\": true,\n      \"one_time_keyboard\": true\n    }\n  }\n}","output":"json","x":930,"y":340,"wires":[["47d6799c9492c344","3e706d1eeeeeab0a"]]},{"id":"47d6799c9492c344","type":"telegram sender","z":"b92577b440e63001","name":"","bot":"5e4ba775024bf147","haserroroutput":false,"outputs":1,"x":1150,"y":340,"wires":[["60f421d038b8551b"]]},{"id":"eaf81e9f81506b3f","type":"change","z":"b92577b440e63001","name":"Preparar os dados para a query","rules":[{"t":"move","p":"payload.chatId","pt":"msg","to":"queryParameters.chatId","tot":"msg"},{"t":"move","p":"originalMessage.from.first_name","pt":"msg","to":"queryParameters.nomeCompleto","tot":"msg"},{"t":"move","p":"payload.content","pt":"msg","to":"msg.queryParameters.nomeTime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":620,"wires":[["281b298bb2a422c6","1448e54821d539c5"]]},{"id":"281b298bb2a422c6","type":"postgresql","z":"b92577b440e63001","name":"Salvar ou atualizar o cliente","query":"INSERT INTO clientes (chat_id, nome_completo, time_escolhido)\nSELECT \n    CAST($chatId AS BIGINT), \n    CAST($nomeCompleto AS VARCHAR), \n    t.id_time\nFROM times t\nWHERE t.nome = $nomeTime\nON CONFLICT (chat_id) \nDO UPDATE SET \n    time_escolhido = EXCLUDED.time_escolhido,\n    nome_completo = EXCLUDED.nome_completo;","postgreSQLConfig":"1251550e75985b59","split":false,"rowsPerMsg":1,"outputs":1,"x":480,"y":560,"wires":[["cd599e6860f50b02","4186fd7b88808889"]]},{"id":"7ba97e5d0422a501","type":"template","z":"b92577b440e63001","name":"Confirmação","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"chatId\": \"{{queryParameters.chatId}}\",\n  \"type\": \"message\",\n  \"content\": \"Sucesso! Sua torcida para o {{queryParameters.nomeTime}} foi registrada, {{queryParameters.nomeCompleto}}!\"\n}","output":"json","x":890,"y":460,"wires":[["df1ae095c962e9bf","2390795b33e28690"]]},{"id":"df1ae095c962e9bf","type":"telegram sender","z":"b92577b440e63001","name":"","bot":"5e4ba775024bf147","haserroroutput":false,"outputs":1,"x":1090,"y":440,"wires":[[]]},{"id":"a4f6e0065b696a07","type":"template","z":"b92577b440e63001","name":"msg default","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"chatId\": \"{{queryParameters.chatId}}\",\n  \"type\": \"message\",\n  \"content\": \"Time inválido! Use os botões do teclado ou digite exatamente o nome de um dos times do jogo em andamento.\"\n}","output":"json","x":830,"y":680,"wires":[["74b97330c3ebd5d3"]]},{"id":"74b97330c3ebd5d3","type":"telegram sender","z":"b92577b440e63001","name":"","bot":"5e4ba775024bf147","haserroroutput":false,"outputs":1,"x":1070,"y":680,"wires":[[]]},{"id":"462653b8bbcaa2a1","type":"debug","z":"b92577b440e63001","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":240,"y":280,"wires":[]},{"id":"4feadf3411bfb7cf","type":"debug","z":"b92577b440e63001","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":240,"y":580,"wires":[]},{"id":"1448e54821d539c5","type":"debug","z":"b92577b440e63001","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":400,"y":740,"wires":[]},{"id":"b22a69bfd1808e73","type":"debug","z":"b92577b440e63001","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":520,"y":280,"wires":[]},{"id":"80758cb838d4341c","type":"debug","z":"b92577b440e63001","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":300,"wires":[]},{"id":"3e706d1eeeeeab0a","type":"debug","z":"b92577b440e63001","name":"debug 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":920,"y":240,"wires":[]},{"id":"60f421d038b8551b","type":"debug","z":"b92577b440e63001","name":"debug 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1140,"y":240,"wires":[]},{"id":"cd599e6860f50b02","type":"debug","z":"b92577b440e63001","name":"debug 9","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":740,"wires":[]},{"id":"2390795b33e28690","type":"debug","z":"b92577b440e63001","name":"debug 10","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":580,"wires":[]},{"id":"4186fd7b88808889","type":"switch","z":"b92577b440e63001","name":"","property":"pgsql.rowCount","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":500,"wires":[["7ba97e5d0422a501"],["a4f6e0065b696a07"]]},{"id":"5e4ba775024bf147","type":"telegram bot","botname":"iot0603_bot","usernames":"","chatids":"","baseapiurl":"","testenvironment":false,"updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbothost":"0.0.0.0","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"1251550e75985b59","type":"postgreSQLConfig","name":"PostgreSQL","host":"postgresql.janks.dev.br","hostFieldType":"str","port":"5432","portFieldType":"num","database":"projeto_b","databaseFieldType":"str","ssl":"true","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"iot","userFieldType":"str","password":"pepcon-garton","passwordFieldType":"str"}]